*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
    margin-block-start: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding-inline-start: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

// MEDIA QUERIES
// MIXINS

@mixin tablet() {
    @media screen and (width >= 48em) {
        @content;
    }
}

@mixin desktop() {
    @media screen and (width >= 70em) {
        @content;
    }
}

// COLORS
// PRIMARY COLORS
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
// NEUTRAL COLORS
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

:root {
    font-family: 'League Spartan', sans-serif;
}

body {
    display: grid;
    justify-items: center;
    background-image: url('assets/images/bg-pattern-top-mobile.svg'),
        url('assets/images/bg-pattern-bottom-mobile.svg');
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat no-repeat;
    @include tablet() {
        background-image: url('assets/images/bg-pattern-top-desktop.svg'),
            url('assets/images/bg-pattern-bottom-desktop.svg');
    }
}

main {
    display: grid;
    min-height: 100dvh;
    gap: 3rem;
    grid-template-rows: repeat(3, max-content);
    margin: 3rem 1rem;

    @include desktop() {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, max-content);
        max-width: 72rem;
        align-items: center;
        row-gap: 5rem;
        align-content: center;
    }
}

header {
    text-align: center;
    @include desktop() {
        text-align: left;
    }
    h1 {
        font-size: 2.5rem;
        color: $very-dark-magenta;
        line-height: 2rem;
        @include desktop() {
            font-size: 3rem;
            line-height: 1;
            max-width: 24rem;
        }
    }
    p {
        color: $dark-grayish-magenta;
        font-weight: 500;
        margin-top: 1rem;
        @include desktop() {
            font-size: 1.15rem;
            max-width: 28rem;
        }
    }
}
.ratings {
    display: grid;
    gap: 1rem;
    justify-items: end;
    .rating {
        background-color: $light-grayish-magenta;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        gap: 0.5rem;
        @include tablet() {
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
        }

        @include desktop() {
            max-width: 26rem;
            &:nth-child(1) {
                margin-right: 8rem;
            }
            &:nth-child(2) {
                margin-right: 4rem;
            }
        }

        &__stars {
            display: flex;
            gap: 0.5rem;
        }
        &__text {
            color: $very-dark-magenta;
            font-weight: 700;
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop() {
        flex-direction: row;
        gap: 2rem;
        grid-column: 1 / -1;
    }
}

.testimonial {
    background-color: $very-dark-magenta;
    border-radius: 0.5rem;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include desktop() {
        &:nth-child(1) {
            margin-bottom: 2rem;
        }
        &:nth-child(2) {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        &:nth-child(3) {
            margin-top: 2rem;
        }
    }

    header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__avatar {
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 2.75rem;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__name {
        color: $white;
        font-weight: 700;
    }
    &__status {
        color: $soft-pink;
        font-weight: 500;
    }
    &__text {
        color: $white;
        font-weight: 500;
    }
}
